.skills-container {
  padding: 2rem 4rem;
  margin: 0px;
  margin-left: 40px;
  margin-top: 5px;
  &__description-container {
    position: relative;
    margin-top: 20px;
    max-width: 600px;
  }
  &__description-text {
    font-size: 16px;
    color: #AFB8C3;
    max-width: 600px;
    margin-top: 20px;
    z-index: 10;
    position: relative;
  }
  &__text-marker {
    width: 200px;
    height: 16px;
    z-index: 1;
    background-color: #a4c26a;
    position: absolute;
    top: 6px;
    left: 375px;
  }
  &__toolbox-title {
    font-size: 30px;
    color: #C7DEF6;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  &__skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;
  }
  &__skills-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #185E9F;
    border: 1px solid rgb(86, 147, 203);
    width: 100%;
    max-width: 650px;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 10px #8faac8;
    }
  }
  &__toolbox-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
  }
  &__toolbox-tag-box {
    padding: 5px 10px;
    background-color: #1E3A5F;
    border-radius: 40px;
    border: 1px solid #3A5C7D;
    font-size: 12px;
    text-wrap: nowrap;
  }
  &__toolbox-tag-link {
    color: #abd1f6;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: #a4c26a;
    }
  }
  @media (max-width: 767px) {
    margin: 15px 35px;
    padding: 0px;
    &__description-container {
      margin-top: 15px;
    }
    &__description-text {
      font-size: 15px;
      margin-top: 15px;
    }
    &__toolbox-title {
      font-size: 25px;
    }
    &__skills-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      align-items: center;
    }
  }
}