.commercial-container {
  padding: 2rem 4rem;
  margin: 0px;
  margin-left: 40px;
  margin-top: 5px;
    &__projects-content-boxes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    &__project-box {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: start;
        padding: 20px;
        gap: 15px;
        background-color: #185E9F;
        border: 1px solid rgb(86, 147, 203);
        border-radius: 10px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 10px #8faac8;
            scale: 1.02;
        }
    }
    &__platform-img-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__project-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__project-stack-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
    &__project-tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__project-description {
        list-style-type: disc;
        padding-left: 20px;
        color: #c8e1ff;
    }
    &__project-stack-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        margin-top: 5px;
    }
    &__pet-project-view-btn {
        padding: 10px 15px;
        border: 1px solid white;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
            background: #3b3b3b;
        }
    }
    @media (max-width: 767px) {
        margin: 15px 35px;
        padding: 0px;
        &__project-box {
            padding: 15px;
            gap: 15px;
        }
        &__project-header {
            flex-direction: column;
            align-items: start;
            justify-content: left;
        }
        &__project-tags {
            flex-direction: column;
            gap: 5px
        }
        &__project-stack-container {
            flex-direction: row;
            align-items: start;
            justify-content: left;
        }
        &__project-stack-icons {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}